.detail-primary {
    &__container {
        display: flex;
        gap: 24px;
    }
    &__left {
        width: calc(100% - 324px);
        padding-right: 24px;
        border-right: 1px solid #e0e0e0;
    }
    &__right {
        width: 300px;
    }
}
.icon-share-2 {
    position: sticky;
    top: 20%;
    border: 1px solid #eef4ed;
    box-shadow: 0px 0px 5px #d5d5d594;
}
.detail-icon-comment a {
    width: 3rem;
    height: auto;
    text-align: center;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-left: 112px;
}
.detail-content {
    padding-left: 4rem;
    width: calc(100% - 50px);
    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
        }
    }
    & figure figcaption {
        background: #f7f7f7;
        padding: 0.625rem 0.9375rem;
        font-size: 1rem;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        font-family: "Lato", sans-serif;
        color: #555;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & p a {
        color: #c4161c;
        text-decoration: underline;
        font-style: italic;
    }
    & p,
    & li {
        font-size: 18px;
        font-family: "Noto Serif", serif;
        line-height: 160%;
        margin-bottom: 1.5rem;
        word-break: break-word;
    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }

    & > h2 {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 24px;
        color: #333;
    }
    & > h3 {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 24px;
        color: #333;
    }
    & > h4 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 24px;
        color: #333;
    }
    & > h5 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 24px;
        color: #333;
    }
    & > h6 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 24px;
        color: #333;
    }

    & blockquote {
        background-color: #f4f4f4;
        padding: 18px 15px;
        margin-bottom: 1.25rem;

        & p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .articles {
        margin-bottom: 20px;
        .article {
            padding: 20px 0;
            border-bottom: 1px solid #e0e0e0;

            &:first-child {
                border-top: 1px solid #e0e0e0;
            }
        }
    }
}

.detail-share {
    &__item {
        + .detail-share__item {
            margin-left: 0.625rem;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem;
        transition: all 0.2s ease;
        &:hover {
            opacity: 0.9;
            box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
        }
    }
    &--fb {
        width: 2.25rem;
        background-color: #3b5999;
    }
    &--like {
        background-color: #087cce;
        padding: 0 15px;

        img {
            width: 0.9375rem;
            margin-right: 0.5rem;
        }

        span {
            color: #fcfaf6;
            line-height: 1;
        }
    }
    &--twitter {
        width: 2.25rem;
        background-color: #55acee;
    }
    &--linked {
        width: 2.25rem;
        background-color: #0073b1;
    }
    &--email {
        width: 2.25rem;
        background-color: #e5e5e5;
    }
}
.detail-tags {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
}

.detail-tag-icon {
    font-size: 14px;
    background: #f2efea;
    height: 36px;
    width: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #757575;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 8px solid #f2efea;
        right: -8px;
        position: absolute;
    }
}

.detail-tag {
    margin-right: 1.25rem;
}

.detail-tag-item {
    font-weight: 700;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    font-size: 15px;
    position: relative;
    &:nth-child(even) {
        color: #e40c14;
    }
    &::before {
        position: absolute;
        content: "⁄";
        color: #4f4f4f;
        top: 50%;
        left: -0.75rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    &:nth-child(1)::before {
        content: "";
    }
    & a:hover {
        color: #e40c14;
    }
}
.detail-author {
    &__img {
        flex-shrink: 0;
        margin-right: 10px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    &__text1 {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        &::before {
            position: absolute;
            content: "";
            right: 10px;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #1955a6;
        }
    }
    &__text2 {
        display: inline-block;
    }
}

.realted-news {
    .article {
        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}
